USE [master]
GO
/****** Object:  Database [QuanLySieuThi_K235480106091]    Script Date: 12/05/2026 22:42 CH ******/
CREATE DATABASE [QuanLySieuThi_K235480106091]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySieuThi_K235480106091', FILENAME = N'D:\sql\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLySieuThi_K235480106091.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySieuThi_K235480106091_log', FILENAME = N'D:\sql\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLySieuThi_K235480106091_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySieuThi_K235480106091].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySieuThi_K235480106091]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PhanLoaiKhachHang]    Script Date: 12/05/2026 22:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_PhanLoaiKhachHang] (@MaKH INT)
RETURNS NVARCHAR(50)
AS
BEGIN
    DECLARE @Diem INT, @Loai NVARCHAR(50);
    SELECT @Diem = [DiemTichLuy] FROM [KhachHang] WHERE [MaKH] = @MaKH;
    
    IF @Diem >= 1000 SET @Loai = N'Khách hàng VIP';
    ELSE IF @Diem >= 500 SET @Loai = N'Khách hàng Thân thiết';
    ELSE SET @Loai = N'Khách hàng Mới';
    
    RETURN @Loai;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeGiaTriNhomHang]    Script Date: 12/05/2026 22:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2.3. Multi-statement TVF: Thống kê giá trị hàng hóa theo nhóm
-- Logic: Tính tổng số lượng và tổng vốn của từng nhóm hàng, kèm theo đánh giá mức độ ưu tiên
CREATE FUNCTION [dbo].[fn_ThongKeGiaTriNhomHang]()
RETURNS @BaoCao TABLE (
    TenNhom NVARCHAR(100),
    TongSoLuong INT,
    TongVon DECIMAL(18, 2),
    MucDoUuTien NVARCHAR(50)
)
AS
BEGIN
    -- Bước 1: Chèn dữ liệu tính toán vào biến bảng @BaoCao
    INSERT INTO @BaoCao
    SELECT 
        n.[TenNhom], 
        SUM(s.[SoLuongTon]), 
        SUM(s.[SoLuongTon] * s.[GiaBan]),
        CASE 
            WHEN SUM(s.[SoLuongTon] * s.[GiaBan]) > 10000000 THEN N'Ưu tiên cao'
            ELSE N'Ưu tiên trung bình'
        END
    FROM [NhomHang] n
    JOIN [SanPham] s ON n.[MaNhom] = s.[MaNhom]
    GROUP BY n.[TenNhom];

    -- Bước 2: Trả về kết quả
    RETURN;
END;
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/05/2026 22:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [char](10) NOT NULL,
	[TenSanPham] [nvarchar](200) NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NULL,
	[MaNhom] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhSachSanPhamTheoNhom]    Script Date: 12/05/2026 22:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DanhSachSanPhamTheoNhom] (@MaNhom INT)
RETURNS TABLE
AS
RETURN (
    SELECT [MaSanPham], [TenSanPham], [GiaBan], [SoLuongTon]
    FROM [SanPham]
    WHERE [MaNhom] = @MaNhom
);
GO
/****** Object:  Table [dbo].[BangA]    Script Date: 12/05/2026 22:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangA](
	[ID] [int] NOT NULL,
	[Ten] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangB]    Script Date: 12/05/2026 22:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangB](
	[ID] [int] NOT NULL,
	[Ten] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 12/05/2026 22:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [int] NOT NULL,
	[MaSanPham] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/05/2026 22:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/05/2026 22:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[DiemTichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomHang]    Script Date: 12/05/2026 22:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomHang](
	[MaNhom] [int] IDENTITY(1,1) NOT NULL,
	[TenNhom] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhomHang] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomHang] ([MaNhom])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhomHang]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_ChiTietGiaoDich]    Script Date: 12/05/2026 22:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ChiTietGiaoDich]
    @MaHD INT
AS
BEGIN
    SELECT h.[MaHoaDon], k.[HoTen], s.[TenSanPham], c.[SoLuong], (c.[SoLuong] * c.[DonGia]) AS [ThanhTien]
    FROM [HoaDon] h
    JOIN [KhachHang] k ON h.[MaKH] = k.[MaKH]
    JOIN [ChiTietHoaDon] c ON h.[MaHoaDon] = c.[MaHoaDon]
    JOIN [SanPham] s ON c.[MaSanPham] = s.[MaSanPham]
    WHERE h.[MaHoaDon] = @MaHD;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TongGiaTriKhoHang]    Script Date: 12/05/2026 22:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TongGiaTriKhoHang]
    @TongGiaTri DECIMAL(18, 2) OUTPUT
AS
BEGIN
    SELECT @TongGiaTri = SUM([GiaBan] * [SoLuongTon]) FROM [SanPham];
END;
GO
USE [master]
GO
